# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# data
apps/data/*.txt
apps/data/mst_input/*.txt
apps/data/mcp_input/*.txt
apps/data/mcp_input/big
apps/data/mcp_input/small
apps/data/maxrp_input/*.txt
apps/data/minrp_input/*.txt
apps/data/aplp_input/*.txt
apps/aplp/baseline/others.bak
apps/data/rmat_data/*.txt


# EXT
ExtendedTensorCores/ETC.mr
ExtendedTensorCores/ETCAPSP.mr
ExtendedTensorCores/ETCEX.mr
ExtendedTensorCores/ETCL2.mr
ExtendedTensorCores/MIN.mr
ExtendedTensorCores/alib-52/
ExtendedTensorCores/command.log
ExtendedTensorCores/default.svf
ExtendedTensorCores/etc-verilog.pvl
ExtendedTensorCores/etc-verilog.syn
ExtendedTensorCores/etc.area
ExtendedTensorCores/etc.holdtiming
ExtendedTensorCores/etc.power
ExtendedTensorCores/etc.setuptiming
ExtendedTensorCores/etcAPSP-verilog.pvl
ExtendedTensorCores/etcAPSP-verilog.syn
ExtendedTensorCores/etcAPSP.area
ExtendedTensorCores/etcAPSP.holdtiming
ExtendedTensorCores/etcAPSP.power
ExtendedTensorCores/etcAPSP.setuptiming
ExtendedTensorCores/etcEX-verilog.pvl
ExtendedTensorCores/etcEX-verilog.syn
ExtendedTensorCores/etcEX.area
ExtendedTensorCores/etcEX.holdtiming
ExtendedTensorCores/etcEX.power
ExtendedTensorCores/etcEX.setuptiming
ExtendedTensorCores/etcL2-verilog.pvl
ExtendedTensorCores/etcL2-verilog.syn
ExtendedTensorCores/etcL2.area
ExtendedTensorCores/etcL2.holdtiming
ExtendedTensorCores/etcL2.power
ExtendedTensorCores/etcL2.setuptiming
ExtendedTensorCores/filenames.log
ExtendedTensorCores/min-verilog.pvl
ExtendedTensorCores/min-verilog.syn
ExtendedTensorCores/testbench.bin