# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# data
apps/data/*.txt
apps/data/mst_input/*.txt
apps/data/mcp_input/*.txt
apps/data/mcp_input/big
apps/data/mcp_input/small
apps/data/maxrp_input/*.txt
apps/data/minrp_input/*.txt
apps/data/aplp_input/*.txt
apps/aplp/baseline/others.bak
apps/data/rmat_data/*.txt


# EXT
ExtendedTensorCores/ETC.mr
ExtendedTensorCores/ETCAPSP.mr
ExtendedTensorCores/ETCEX.mr
ExtendedTensorCores/ETCL2.mr
ExtendedTensorCores/MIN.mr
ExtendedTensorCores/alib-52/
ExtendedTensorCores/command.log
ExtendedTensorCores/default.svf
ExtendedTensorCores/etc-verilog.pvl
ExtendedTensorCores/etc-verilog.syn
ExtendedTensorCores/etc.area
ExtendedTensorCores/etc.holdtiming
ExtendedTensorCores/etc.power
ExtendedTensorCores/etc.setuptiming
ExtendedTensorCores/etcAPSP-verilog.pvl
ExtendedTensorCores/etcAPSP-verilog.syn
ExtendedTensorCores/etcAPSP.area
ExtendedTensorCores/etcAPSP.holdtiming
ExtendedTensorCores/etcAPSP.power
ExtendedTensorCores/etcAPSP.setuptiming
ExtendedTensorCores/etcEX-verilog.pvl
ExtendedTensorCores/etcEX-verilog.syn
ExtendedTensorCores/etcEX.area
ExtendedTensorCores/etcEX.holdtiming
ExtendedTensorCores/etcEX.power
ExtendedTensorCores/etcEX.setuptiming
ExtendedTensorCores/etcL2-verilog.pvl
ExtendedTensorCores/etcL2-verilog.syn
ExtendedTensorCores/etcL2.area
ExtendedTensorCores/etcL2.holdtiming
ExtendedTensorCores/etcL2.power
ExtendedTensorCores/etcL2.setuptiming
ExtendedTensorCores/filenames.log
ExtendedTensorCores/min-verilog.pvl
ExtendedTensorCores/min-verilog.syn
ExtendedTensorCores/testbench.bin
ExtendedTensorCores/ETCEX2.mr
ExtendedTensorCores/ETCEX3.mr
ExtendedTensorCores/ETCEX4.mr
ExtendedTensorCores/ETCMAXMIN.mr
ExtendedTensorCores/ETCMAXMUL.mr
ExtendedTensorCores/ETCMAXPLUS.mr
ExtendedTensorCores/ETCMAXPLUSL.mr
ExtendedTensorCores/ETCMINMAX.mr
ExtendedTensorCores/ETCMINMUL.mr
ExtendedTensorCores/ETCORAND.mr
ExtendedTensorCores/MAX.mr
ExtendedTensorCores/MAXMIN.mr
ExtendedTensorCores/MAXMIN2.mr
ExtendedTensorCores/MINEX.mr
ExtendedTensorCores/MINMAX.mr
ExtendedTensorCores/MINMAX2.mr
ExtendedTensorCores/Synopsys_stack_trace_17276.txt
ExtendedTensorCores/Synopsys_stack_trace_17729.txt
ExtendedTensorCores/Synopsys_stack_trace_18298.txt
ExtendedTensorCores/Synopsys_stack_trace_19359.txt
ExtendedTensorCores/Synopsys_stack_trace_20742.txt
ExtendedTensorCores/Synopsys_stack_trace_23128.txt
ExtendedTensorCores/Synopsys_stack_trace_23664.txt
ExtendedTensorCores/Synopsys_stack_trace_24264.txt
ExtendedTensorCores/allOPs_power.txt
ExtendedTensorCores/compileEX_v2.tcl
ExtendedTensorCores/compileEX_v3.tcl
ExtendedTensorCores/compileEX_v4.tcl
ExtendedTensorCores/compileMaxMin.tcl
ExtendedTensorCores/compileMaxMul.tcl
ExtendedTensorCores/compileMaxPlus.tcl
ExtendedTensorCores/compileMinMax.tcl
ExtendedTensorCores/compileMinMul.tcl
ExtendedTensorCores/compileOrAnd.tcl
ExtendedTensorCores/crte_000011841.txt
ExtendedTensorCores/crte_000012864.txt
ExtendedTensorCores/crte_000014045.txt
ExtendedTensorCores/crte_000014687.txt
ExtendedTensorCores/crte_000014994.txt
ExtendedTensorCores/crte_000017276.txt
ExtendedTensorCores/crte_000017729.txt
ExtendedTensorCores/crte_000018298.txt
ExtendedTensorCores/crte_000019359.txt
ExtendedTensorCores/crte_000020742.txt
ExtendedTensorCores/crte_000023128.txt
ExtendedTensorCores/crte_000023664.txt
ExtendedTensorCores/crte_000024264.txt
ExtendedTensorCores/etcEX2-verilog.pvl
ExtendedTensorCores/etcEX2-verilog.syn
ExtendedTensorCores/etcEX3-verilog.pvl
ExtendedTensorCores/etcEX3-verilog.syn
ExtendedTensorCores/etcEX4-verilog.pvl
ExtendedTensorCores/etcEX4-verilog.syn
ExtendedTensorCores/etcEX_v2.area
ExtendedTensorCores/etcEX_v2.holdtiming
ExtendedTensorCores/etcEX_v2.power
ExtendedTensorCores/etcEX_v2.setuptiming
ExtendedTensorCores/etcEX_v3.area
ExtendedTensorCores/etcEX_v3.holdtiming
ExtendedTensorCores/etcEX_v3.power
ExtendedTensorCores/etcEX_v3.setuptiming
ExtendedTensorCores/etcEx_v4.area
ExtendedTensorCores/etcEx_v4.holdtiming
ExtendedTensorCores/etcEx_v4.power
ExtendedTensorCores/etcEx_v4.setuptiming
ExtendedTensorCores/etcMaxMin-verilog.pvl
ExtendedTensorCores/etcMaxMin-verilog.syn
ExtendedTensorCores/etcMaxMin.area
ExtendedTensorCores/etcMaxMin.holdtiming
ExtendedTensorCores/etcMaxMin.power
ExtendedTensorCores/etcMaxMin.setuptiming
ExtendedTensorCores/etcMaxMul-verilog.pvl
ExtendedTensorCores/etcMaxMul-verilog.syn
ExtendedTensorCores/etcMaxMul.area
ExtendedTensorCores/etcMaxMul.holdtiming
ExtendedTensorCores/etcMaxMul.power
ExtendedTensorCores/etcMaxMul.setuptiming
ExtendedTensorCores/etcMaxPlus-verilog.pvl
ExtendedTensorCores/etcMaxPlus-verilog.syn
ExtendedTensorCores/etcMaxPlus.area
ExtendedTensorCores/etcMaxPlus.holdtiming
ExtendedTensorCores/etcMaxPlus.power
ExtendedTensorCores/etcMaxPlus.setuptiming
ExtendedTensorCores/etcMaxPlusl-verilog.pvl
ExtendedTensorCores/etcMaxPlusl-verilog.syn
ExtendedTensorCores/etcMinMax-verilog.pvl
ExtendedTensorCores/etcMinMax-verilog.syn
ExtendedTensorCores/etcMinMax.area
ExtendedTensorCores/etcMinMax.holdtiming
ExtendedTensorCores/etcMinMax.power
ExtendedTensorCores/etcMinMax.setuptiming
ExtendedTensorCores/etcMinMul-verilog.pvl
ExtendedTensorCores/etcMinMul-verilog.syn
ExtendedTensorCores/etcMinMul.area
ExtendedTensorCores/etcMinMul.holdtiming
ExtendedTensorCores/etcMinMul.power
ExtendedTensorCores/etcMinMul.setuptiming
ExtendedTensorCores/etcOrAnd-verilog.pvl
ExtendedTensorCores/etcOrAnd-verilog.syn
ExtendedTensorCores/etcOrAnd.area
ExtendedTensorCores/etcOrAnd.holdtiming
ExtendedTensorCores/etcOrAnd.power
ExtendedTensorCores/etcOrAnd.setuptiming
ExtendedTensorCores/max-verilog.pvl
ExtendedTensorCores/max-verilog.syn
ExtendedTensorCores/maxMin-verilog.pvl
ExtendedTensorCores/maxMin-verilog.syn
ExtendedTensorCores/maxMin2-verilog.pvl
ExtendedTensorCores/maxMin2-verilog.syn
ExtendedTensorCores/minEX-verilog.pvl
ExtendedTensorCores/minEX-verilog.syn
ExtendedTensorCores/minMax-verilog.pvl
ExtendedTensorCores/minMax-verilog.syn
ExtendedTensorCores/minMax2-verilog.pvl
ExtendedTensorCores/minMax2-verilog.syn

# misc
.nfs*